{% extends 'base.html' %}
{% block title %}
Semi-Visible Watermarking
{% endblock %}

{% block content %}
	<div style="text-align: center;">
		<h1>Semi-visible Watermarking</h1>
	</div>
	<form method="POST" action="/sv_view_image" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6">
				<h2><span for="image">Input Image</span></h2>
				<input class="form-control form-control-lg" name="image" type="file" required>
			</div>
			<div class="col-md-6">
				<h2><span for="image">Watermark</span></h2>
				<input class="form-control form-control-lg" name="watermark" type="file" required>
			</div>
		</div>
		<br>
		<div class="d-grid gap-2">
				<button type="submit" name="submit" class="btn btn-primary block">Next -></button>
		</div>
	</form>

{% endblock %}