{% extends 'base.html' %}
{% block title %}
SVD based Watermarking
{% endblock %}

{% block content %}

<br>
<div style="text-align: center;">
	<h1>SVD based Watermarking - Extract Watermark</h1>
</div>
<br><br>
<form method="POST" action="/svd_extracted_watermark" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-6">
			<h2><span for="image">Original Image</span></h2>
			<br>
			<input class="form-control form-control-lg" name="original_image" type="file" required>
		</div>
		<div class="col-md-6">
			<h2><span for="image">Original Watermark</span></h2>
			<br>
			<input class="form-control form-control-lg" name="original_watermark" type="file" required>
		</div>
	</div>
	<br>
	<div class="center">
		<div class="col-md-12">
			<h2><span for="image">Watermarked Image</span></h2>
			<br>
			<input class="form-control form-control-lg" name="watermarked_image" type="file" required>
		</div>
	</div>
	<br>
	<div class="d-grid gap-2">
			<button type="submit" name="submit" class="btn btn-primary block">Next -></button>
	</div>
</form>

{% endblock %}