{% extends 'base.html' %}
{% block title %}
Watermark - Home
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Semi-Visible Watermarking</h5>
					<p class="card-text">This type of watermarking embeds a visible watermark whose transperency can be altered.</p>
					<a href="{{ url_for('upload_image_form') }}" class="btn btn-primary d-grid gap-2">Click here!</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}