{% extends 'base.html' %}
{% block title %}
Watermark - Home
{% endblock %}

{% block content %}

<div class="row align-items-start">
	<div class="col"></div>
	<div>
		<div class="col card text-center"">
			<div class="card-body">
				<h5 class="card-title">Semi-visible watermarking</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="col"></div>
	<div>
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="col"></div>
	<div>
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="col"></div>
</div>

{% endblock %}