{% extends 'base.html' %}
{% block title %}
Watermark - Home
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-4 d-flex align-items-stretch">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Semi-Visible Watermarking</h5>
					<p class="card-text">This type of watermarking embeds a visible watermark whose transperency can be altered. Visible watermarking is the process of embedding data (watermark) into a multimedia object (video/image) such that the embedded watermark is perceptible to a human observer.</p>
					<a href="{{ url_for('upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Invisible Watermarking</h5>
					<p class="card-text">This type of watermarking embeds an image (watermark) in a larger image in a way it is not visible. The watermark cacn be extracted using the watermarked image and the key.</p>
					<a href="{{ url_for('invisible_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
					<br>
					<a href="{{ url_for('extract_invisible_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Extract Watermark</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Checksum based Watermarking</h5>
					<p class="card-text">This type of watermarking generates a 56 bit checksum which is stored in LSBs of randomly chosen locations. This watermarking technique is used to verify the authenticity of an image.</p>
					<a href="{{ url_for('checksum_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
					<br>
					<a href="{{ url_for('verify_checksum_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Check Authenticity of Image</a>
				</div>
			</div>
		</div>
	</div>

<br><br>

	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Watermarking in Wavelet Domain</h5>
					<p class="card-text">This is another method for invisible watermarking which involves transforming the images into the Wavelet domain.</p>
					<a href="{{ url_for('wavelet_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
					<br>
					<a href="{{ url_for('extract_wavelet_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Extract Watermark</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">SVD based Watermarking</h5>
					<p class="card-text">This is yet another method for invisible watermarking which involves singular value decomposition of the images (matrices).</p>
					<a href="{{ url_for('svd_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
					<br>
					<a href="{{ url_for('extract_svd_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Extract Watermark</a>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Checksum based Watermarking</h5>
					<p class="card-text">This type of watermarking generates a 56 bit checksum which is stored in LSBs of randomly chosen locations. This watermarking technique is used to verify the authenticity of an image.</p>
					<a href="{{ url_for('checksum_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Watermark an Image</a>
					<br>
					<a href="{{ url_for('verify_checksum_upload_image_form') }}" class="btn btn-primary d-grid gap-2">Check Authenticity of Image</a>
				</div>
			</div>
		</div> -->
	</div>

</div>

{% endblock %}